version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/premiora-web"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "Negin3capa"
    assignees:
      - "Negin3capa"
    commit-message:
      prefix: "deps"
      include: "scope"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
