.creator-dashboard-page {
  display: flex;
}

.creator-dashboard-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.creator-dashboard-container {
  padding: 2rem;
  overflow-y: auto;
  height: calc(100vh - 60px); /* Ajuste a altura conforme a altura do seu Header */
}

.creator-dashboard-content {
  max-width: 1200px;
  margin: 0 auto;
}
